<%= form_with(model: historical, local: true) do |form| %>
  <% if historical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(historical.errors.count, "error") %> prohibited this historical from being saved:</h2>

      <ul>
      <% historical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :test_id %>
    <%= form.number_field :test_id %>
  </div>

  <div class="field">
    <%= form.label :type_id %>
    <%= form.number_field :type_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :exercise_id %>
    <%= form.number_field :exercise_id %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer %>
  </div>

  <div class="field">
    <%= form.label :response %>
    <%= form.text_field :response %>
  </div>

  <div class="field">
    <%= form.label :correct %>
    <%= form.check_box :correct %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
